[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fido2 = "*"
flask-sqlalchemy = "*"
flask = "*"
flask-user = "*"
email-validator = "*"
python-dotenv = "*"
mysql-connector-python = "*"
pymysql = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.8"
