{% extends '_common_base.html' %} {% block content %} 

<p>Credentials</p>

	<table>
		  <thead>
		      <th>#</th>
		      <th>Name</th>
		      <th>Signature Count</th>
		      <th>IP Address</th>
		      <th>User Agent</th>
		      <th>Registered at</th>
		  </thead>

		
		{% for credential in credentials %}
		<tr>
			<td>
					<a href="{{ url_for('admin_site.f2fa_credential',id=credential.obj.id, action='delete') }}" class="icon-block">
						<i class="far fa-trash-alt"></i>
					</a>
			</td>
			<td>
				<form action="{{ url_for('admin_site.f2fa_credential',id=credential.obj.id, action='update') }}" method="POST" >
					{{ credential.form.display_name }}
					{{ credential.form.hidden_tag() }}
			
					<button class="btn">
				    <i class="fa fa-check" aria-hidden="true"></i>
					</button>
									
				</form>
			</td>
			<td>{{ credential.obj.signature_count }}</td>
			<td>{{ credential.obj.ip_address }}</td>
			<td>{{ credential.user_agent }}</td>
			<td>{{ credential.obj.created }}</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}