  <script src="{{ url_for('flask_2fa.static', filename='cbor.js') }}"></script>
  <script>
  
	document.getElementById("submit_credentials").onclick = function() {SubmitCredentials()};
	
	function SubmitCredentials() {
  
	    fetch('{{ url_for('flask_2fa.api_register_begin') }}', {
	      method: 'POST',
	      headers: {'X-CSRFToken': '{{ csrf_token() }}'}
	    }).then(function(response) {
	      if(response.ok) return response.arrayBuffer();
	      throw new Error('Error getting registration data!');
	    }).then(CBOR.decode).then(function(options) {
	      return navigator.credentials.create(options);
	    }).then(function(attestation) {
	      return fetch('{{ url_for('flask_2fa.api_register_complete') }}', {
	        method: 'POST',
	        headers: {'Content-Type': 'application/cbor',
	        		  'X-CSRFToken': '{{ csrf_token() }}'
	        		  },
	        body: CBOR.encode({
	          "attestationObject": new Uint8Array(attestation.response.attestationObject),
	          "clientDataJSON": new Uint8Array(attestation.response.clientDataJSON),
	        })
	      });
	    }).then(function(response) {
	    	if(response.ok) return response.arrayBuffer();
	    	throw new Error('Registration Failed. More details in server log...');
	    }).then(CBOR.decode).then(function(options) {
	      	if (options.status != 'ok') alert ('Received error: ' + options.status);
	    }, function(reason) {
	      alert(reason);
	    }){% if f2fa_manager.F2FA_AFTER_REGISTER %}.then(function() {
	      window.location = '{{ url_for(f2fa_manager.F2FA_AFTER_REGISTER) }}';
	    }){% endif %};
    };
  </script>
